<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>angular-demo-ui documentation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
	      <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="../" class="navbar-brand">angular-demo-ui documentation</a>
            <button type="button" class="btn btn-default btn-menu ion-ios-menu" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
                <div id="book-search-input" role="search"><input type="text" placeholder="Type to search"></div>            <compodoc-menu></compodoc-menu>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <compodoc-menu mode="normal"></compodoc-menu>
               </div>
               <!-- START CONTENT -->
               <div class="content component">
                   <div class="content-data">




<ol class="breadcrumb">
  <li>Components</li>
  <li>AccordionGroupComponent</li>
</ol>

<ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#info" role="tab" id="info-tab" data-toggle="tab" data-link="info">Info</a>
        </li>
        <li >
            <a href="#source" role="tab" id="source-tab" data-toggle="tab" data-link="source">Source</a>
        </li>
        <li >
            <a href="#styleData" role="tab" id="styleData-tab" data-toggle="tab" data-link="style">Styles</a>
        </li>
        <li >
            <a href="#tree" role="tab" id="tree-tab" data-toggle="tab" data-link="dom-tree">DOM Tree</a>
        </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="c-info"><p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>src/app/shared/uikit/components/accordion-group.component.ts</code>
</p>





<section>
    <h3>Metadata</h3>
    <table class="table table-sm table-hover">
        <tbody>











            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>app-accordion-group</code></td>
            </tr>


            <tr>
                <td class="col-md-3">styles</td>
                <td class="col-md-9"><code>
    .mypanel {
      background-color: white;
      color: #222;
    }

    .mypanel .title {
      background-color: #e2e2e2;
      width: 100%;
      padding: 10px;
      cursor: pointer;
      border-bottom: 1px solid #999;
    }

    .mypanel .body {
      padding: 20px;
      overflow: hidden;
    }
  </code></td>
            </tr>

            <tr>
                <td class="col-md-3">template</td>
                <td class="col-md-9"><pre class="line-numbers"><code class="language-html">&lt;div class&#x3D;&quot;mypanel&quot;&gt;
  &lt;div class&#x3D;&quot;title&quot; (click)&#x3D;&quot;toggle.emit()&quot;&gt;{{title}}&lt;/div&gt;
  &lt;div class&#x3D;&quot;body&quot; [@collapsable]&#x3D;&quot;opened ? &#x27;opened&#x27; : &#x27;closed&#x27;&quot;&gt;
    &lt;ng-content&gt;&lt;/ng-content&gt;
  &lt;/div&gt;
&lt;/div&gt;
</code></pre></td>
            </tr>









        </tbody>
    </table>
</section>

    <section>
    <h3 id="index">Index</h3>
    <table class="table table-sm table-bordered index-table">
        <tbody>


                <tr>
                    <td class="col-md-4">
                        <h6><b>Inputs</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#opened">opened</a>
                            </li>
                            <li>
                                <a href="#title">title</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td class="col-md-4">
                        <h6><b>Outputs</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#toggle">toggle</a>
                            </li>
                        </ul>
                    </td>
                </tr>



        </tbody>
    </table>
</section>


    <section>
    <h3 id="inputs">Inputs</h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="opened"></a>
                        <b>opened</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/boolean" target="_blank" >boolean</a></code>

                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Defined in <a href="" data-line="53" class="link-to-prism">src/app/shared/uikit/components/accordion-group.component.ts:53</a></div>
                            </td>
                        </tr>
            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="title"></a>
                        <b>title</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank" >string</a></code>

                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Defined in <a href="" data-line="52" class="link-to-prism">src/app/shared/uikit/components/accordion-group.component.ts:52</a></div>
                            </td>
                        </tr>
            </tbody>
        </table>
</section>
    <section>
    <h3 id="outputs">Outputs</h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="toggle"></a>
                        <b>toggle</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>    <code>EventEmitter&lt;void&gt;</code>

                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Defined in <a href="" data-line="54" class="link-to-prism">src/app/shared/uikit/components/accordion-group.component.ts:54</a></div>
                            </td>
                        </tr>
            </tbody>
        </table>
</section>




</div>


    <div class="tab-pane fade  tab-source-code" id="c-source">
        <pre class="line-numbers compodoc-sourcecode"><code class="language-typescript">import { Component, EventEmitter, Input, OnInit, Output } from &#x27;@angular/core&#x27;;
import { animate, state, style, transition, trigger } from &#x27;@angular/animations&#x27;;

@Component({
  selector: &#x27;app-accordion-group&#x27;,
  animations: [
    trigger(&#x27;collapsable&#x27;, [
      state(&#x27;opened&#x27;, style({
        height: &#x27;*&#x27;
      })),
      state(&#x27;closed&#x27;, style({
        height: &#x27;0px&#x27;,
        padding: 0
      })),
      transition(&#x27;opened &#x3D;&gt; closed&#x27;, [
        animate(&#x27;0.4s cubic-bezier(0.77, 0, 0.175, 1)&#x27;)
      ]),
      transition(&#x27;closed &#x3D;&gt; opened&#x27;, [
        animate(&#x27;1.4s cubic-bezier(0.77, 0, 0.175, 1)&#x27;)
      ])
    ])
  ],
  template: &#x60;
    &lt;div class&#x3D;&quot;mypanel&quot;&gt;
      &lt;div class&#x3D;&quot;title&quot; (click)&#x3D;&quot;toggle.emit()&quot;&gt;{{title}}&lt;/div&gt;
      &lt;div class&#x3D;&quot;body&quot; [@collapsable]&#x3D;&quot;opened ? &#x27;opened&#x27; : &#x27;closed&#x27;&quot;&gt;
        &lt;ng-content&gt;&lt;/ng-content&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &#x60;,
  styles: [&#x60;
    .mypanel {
      background-color: white;
      color: #222;
    }

    .mypanel .title {
      background-color: #e2e2e2;
      width: 100%;
      padding: 10px;
      cursor: pointer;
      border-bottom: 1px solid #999;
    }

    .mypanel .body {
      padding: 20px;
      overflow: hidden;
    }
  &#x60;]
})
export class AccordionGroupComponent {
  @Input() title: string;
  @Input() opened: boolean;
  @Output() toggle: EventEmitter&lt;void&gt; &#x3D; new EventEmitter&lt;void&gt;();
}
</code></pre>
    </div>


    <div class="tab-pane fade " id="c-styleData">
            <pre class="line-numbers"><code class="language-scss">
    .mypanel {
      background-color: white;
      color: #222;
    }

    .mypanel .title {
      background-color: #e2e2e2;
      width: 100%;
      padding: 10px;
      cursor: pointer;
      border-bottom: 1px solid #999;
    }

    .mypanel .body {
      padding: 20px;
      overflow: hidden;
    }
  
</code></pre>
    </div>

    <div class="tab-pane fade " id="c-tree">
        <div id="tree-container"></div>
        <div class="tree-legend">
            <div class="title">
                <b>Legend</b>
            </div>
            <div>
                <div class="color htmlelement"></div><span>Html element</span>
            </div>
            <div>
                <div class="color component"></div><span>Component</span>
            </div>
            <div>
                <div class="color directive"></div><span>Html element with directive</span>
            </div>
        </div>
    </div>

    
</div>

<script src="../js/libs/vis.min.js"></script>
<script src="../js/libs/htmlparser.js"></script>
<script src="../js/libs/deep-iterator.js"></script>
<script>
        var COMPONENT_TEMPLATE = '<div><div class="mypanel">  <div class="title" (click)="toggle.emit()">{{title}}</div>  <div class="body" [@collapsable]="opened ? \'opened\' : \'closed\'">    <ng-content></ng-content>  </div></div></div>'
    var COMPONENTS = [{'name': 'AccordionComponent', 'selector': 'app-accordion'},{'name': 'AccordionGroupComponent', 'selector': 'app-accordion-group'},{'name': 'AppComponent', 'selector': 'app-root'},{'name': 'AutoGridComponent', 'selector': 'app-auto-grid'},{'name': 'BoxComponent', 'selector': 'app-box'},{'name': 'CatalogComponent', 'selector': 'app-catalog'},{'name': 'CatalogHelpComponent', 'selector': 'app-catalog-help'},{'name': 'ChartjsComponent', 'selector': 'app-chartjs'},{'name': 'ColComponent', 'selector': 'app-col'},{'name': 'ContactsComponent', 'selector': 'app-contacts'},{'name': 'CounterComponent', 'selector': 'app-counter'},{'name': 'GooglemapComponent', 'selector': 'app-googlemap'},{'name': 'GridComponent', 'selector': 'app-grid'},{'name': 'HomeCarouselComponent', 'selector': 'app-home-carousel'},{'name': 'HomeComponent', 'selector': 'app-home'},{'name': 'HomeNewsComponent', 'selector': 'app-home-news'},{'name': 'LastMinuteComponent', 'selector': 'app-last-minute'},{'name': 'NavbarComponent', 'selector': 'app-navbar'},{'name': 'OffersComponent', 'selector': 'app-offers'},{'name': 'ProductsComponent', 'selector': 'app-products'},{'name': 'SeparatorComponent', 'selector': 'app-separator'},{'name': 'SuperAutoGridComponent', 'selector': 'app-super-auto-grid'}];
    var DIRECTIVES = [];
    var ACTUAL_COMPONENT = {'name': 'AccordionGroupComponent'};
</script>
<script src="../js/tree.js"></script>










                   




                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> result-matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No results matching "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
               <!-- END CONTENT -->
           </div>
       </div>

       <script>
            var COMPODOC_CURRENT_PAGE_DEPTH = 1;
            var COMPODOC_CURRENT_PAGE_CONTEXT = 'component';
            var COMPODOC_CURRENT_PAGE_URL = 'AccordionGroupComponent.html';
            var MAX_SEARCH_RESULTS = 15;
       </script>

       <script src="../js/libs/custom-elements.min.js"></script>
       <script src="../js/libs/lit-html.js"></script>
       <!-- Required to polyfill modern browsers as code is ES5 for IE... -->
       <script src="../js/libs/custom-elements-es5-adapter.js" charset="utf-8" defer></script>
       <script src="../js/menu-wc.js" defer></script>

       <script src="../js/libs/bootstrap-native.js"></script>

       <script src="../js/libs/es6-shim.min.js"></script>
       <script src="../js/libs/EventDispatcher.js"></script>
       <script src="../js/libs/promise.min.js"></script>
       <script src="../js/libs/zepto.min.js"></script>

       <script src="../js/compodoc.js"></script>

       <script src="../js/tabs.js"></script>
       <script src="../js/menu.js"></script>
       <script src="../js/libs/clipboard.min.js"></script>
       <script src="../js/libs/prism.js"></script>
       <script src="../js/sourceCode.js"></script>
          <script src="../js/search/search.js"></script>
          <script src="../js/search/lunr.min.js"></script>
          <script src="../js/search/search-lunr.js"></script>
          <script src="../js/search/search_index.js"></script>
       <script src="../js/lazy-load-graphs.js"></script>


    </body>
</html>
