<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>angular-demo-ui documentation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
	      <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="../" class="navbar-brand">angular-demo-ui documentation</a>
            <button type="button" class="btn btn-default btn-menu ion-ios-menu" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
                <div id="book-search-input" role="search"><input type="text" placeholder="Type to search"></div>            <compodoc-menu></compodoc-menu>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <compodoc-menu mode="normal"></compodoc-menu>
               </div>
               <!-- START CONTENT -->
               <div class="content component">
                   <div class="content-data">




<ol class="breadcrumb">
  <li>Components</li>
  <li>BoxComponent</li>
</ol>

<ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#info" role="tab" id="info-tab" data-toggle="tab" data-link="info">Info</a>
        </li>
        <li >
            <a href="#source" role="tab" id="source-tab" data-toggle="tab" data-link="source">Source</a>
        </li>
        <li >
            <a href="#styleData" role="tab" id="styleData-tab" data-toggle="tab" data-link="style">Styles</a>
        </li>
        <li >
            <a href="#tree" role="tab" id="tree-tab" data-toggle="tab" data-link="dom-tree">DOM Tree</a>
        </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="c-info"><p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>src/app/shared/uikit/components/box.component.ts</code>
</p>

    <p class="comment">
        <h3>Description</h3>
    </p>
    <p class="comment">
        <p>SImple box with text and image</p>

    </p>




<section>
    <h3>Metadata</h3>
    <table class="table table-sm table-hover">
        <tbody>











            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>app-box</code></td>
            </tr>


            <tr>
                <td class="col-md-3">styles</td>
                <td class="col-md-9"><code>
    .box {
      /*background-color: #f1f1f1;*/
      border-radius: 20px;
      /*padding: 20px;*/
      color: #777;
      margin-top: 15px;
    }
  </code></td>
            </tr>

            <tr>
                <td class="col-md-3">template</td>
                <td class="col-md-9"><pre class="line-numbers"><code class="language-html">
&lt;div
  class&#x3D;&quot;box&quot;
  style&#x3D;&quot;display: flex; justify-content: center; align-items: center;&quot;
  [style.justify-content]&#x3D;&quot;alignCenter ? &#x27;center&#x27; : null&quot;
  [style.height.px]&#x3D;&quot;SIZES[size]&quot;
  [style.background-color]&#x3D;&quot;BACKGROUNDS[bg]&quot;
  [style.color]&#x3D;&quot;TEXTS[bg]&quot;
  [style.padding.px]&#x3D;&quot;padding ? 30 : 0 &quot;
&gt;
  &lt;img src&#x3D;&quot;assets/logo.png&quot; alt&#x3D;&quot;&quot; *ngIf&#x3D;&quot;showLogo&quot; style&#x3D;&quot;padding: 1rem&quot;&gt;
  &lt;ng-content&gt;&lt;/ng-content&gt;
&lt;/div&gt;

</code></pre></td>
            </tr>









        </tbody>
    </table>
</section>

    <section>
    <h3 id="index">Index</h3>
    <table class="table table-sm table-bordered index-table">
        <tbody>
                <tr>
                    <td class="col-md-4">
                        <h6><b>Properties</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#BACKGROUNDS">BACKGROUNDS</a>
                            </li>
                            <li>
                                <a href="#SIZES">SIZES</a>
                            </li>
                            <li>
                                <a href="#TEXTS">TEXTS</a>
                            </li>
                        </ul>
                    </td>
                </tr>


                <tr>
                    <td class="col-md-4">
                        <h6><b>Inputs</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#alignCenter">alignCenter</a>
                            </li>
                            <li>
                                <a href="#bg">bg</a>
                            </li>
                            <li>
                                <a href="#padding">padding</a>
                            </li>
                            <li>
                                <a href="#showLogo">showLogo</a>
                            </li>
                            <li>
                                <a href="#size">size</a>
                            </li>
                        </ul>
                    </td>
                </tr>




        </tbody>
    </table>
</section>


    <section>
    <h3 id="inputs">Inputs</h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="alignCenter"></a>
                        <b>alignCenter</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Default value : </i><code>true</code>
                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Defined in <a href="" data-line="61" class="link-to-prism">src/app/shared/uikit/components/box.component.ts:61</a></div>
                            </td>
                        </tr>
            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="bg"></a>
                        <b>bg</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>    <code>&quot;primary&quot; | &quot;highlights&quot; | &quot;warning&quot;</code>

                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Default value : </i><code>&#x27;primary&#x27;</code>
                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Defined in <a href="" data-line="62" class="link-to-prism">src/app/shared/uikit/components/box.component.ts:62</a></div>
                            </td>
                        </tr>
            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="padding"></a>
                        <b>padding</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Default value : </i><code>true</code>
                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Defined in <a href="" data-line="56" class="link-to-prism">src/app/shared/uikit/components/box.component.ts:56</a></div>
                            </td>
                        </tr>
                <tr>
                    <td class="col-md-4">
                        <div class="io-description"><p>if apply pad or not</p>
</div>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="showLogo"></a>
                        <b>showLogo</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Default value : </i><code>false</code>
                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Defined in <a href="" data-line="60" class="link-to-prism">src/app/shared/uikit/components/box.component.ts:60</a></div>
                            </td>
                        </tr>
                <tr>
                    <td class="col-md-4">
                        <div class="io-description"><p>if logo should be displayed</p>
</div>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="size"></a>
                        <b>size</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>    <code>&quot;xs&quot; | &quot;sm&quot; | &quot;md&quot; | &quot;xl&quot; | null</code>

                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Default value : </i><code>&#x27;xs&#x27;</code>
                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Defined in <a href="" data-line="63" class="link-to-prism">src/app/shared/uikit/components/box.component.ts:63</a></div>
                            </td>
                        </tr>
            </tbody>
        </table>
</section>




    <section>
    
        <h3 id="inputs">
            Properties
        </h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="BACKGROUNDS"></a>
                        <span class="name">
                            <b>
                            BACKGROUNDS</b>
                            <a href="#BACKGROUNDS"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Default value : </i><code>Backgrounds</code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="65" class="link-to-prism">src/app/shared/uikit/components/box.component.ts:65</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="SIZES"></a>
                        <span class="name">
                            <b>
                            SIZES</b>
                            <a href="#SIZES"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Default value : </i><code>Sizes</code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="64" class="link-to-prism">src/app/shared/uikit/components/box.component.ts:64</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="TEXTS"></a>
                        <span class="name">
                            <b>
                            TEXTS</b>
                            <a href="#TEXTS"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Default value : </i><code>Texts</code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="66" class="link-to-prism">src/app/shared/uikit/components/box.component.ts:66</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
</section>

</div>


    <div class="tab-pane fade  tab-source-code" id="c-source">
        <pre class="line-numbers compodoc-sourcecode"><code class="language-typescript">import { Component, Input, OnInit } from &#x27;@angular/core&#x27;;

export enum Sizes {
  xs &#x3D; 50,
  sm &#x3D; 100,
  md &#x3D; 150,
  xl &#x3D; 220,
}

enum Backgrounds {
  primary &#x3D; &#x27;#F1F1F1&#x27;,
  highlights &#x3D; &#x27;#615375&#x27;,
  warning &#x3D; &#x27;#E5625C&#x27;,
}
enum Texts {
  primary &#x3D; &#x27;#222&#x27;,
  highlights &#x3D; &#x27;white&#x27;,
  warning &#x3D; &#x27;white&#x27;,
}

/**
 * SImple box with text and image
 */
@Component({
  selector: &#x27;app-box&#x27;,
  template: &#x60;

      &lt;div 
        class&#x3D;&quot;box&quot;
        style&#x3D;&quot;display: flex; justify-content: center; align-items: center;&quot;
        [style.justify-content]&#x3D;&quot;alignCenter ? &#x27;center&#x27; : null&quot;
        [style.height.px]&#x3D;&quot;SIZES[size]&quot;
        [style.background-color]&#x3D;&quot;BACKGROUNDS[bg]&quot;
        [style.color]&#x3D;&quot;TEXTS[bg]&quot;
        [style.padding.px]&#x3D;&quot;padding ? 30 : 0 &quot;
      &gt;
        &lt;img src&#x3D;&quot;assets/logo.png&quot; alt&#x3D;&quot;&quot; *ngIf&#x3D;&quot;showLogo&quot; style&#x3D;&quot;padding: 1rem&quot;&gt;
        &lt;ng-content&gt;&lt;/ng-content&gt;
      &lt;/div&gt;

  &#x60;,
  styles: [&#x60;
    .box {
      /*background-color: #f1f1f1;*/
      border-radius: 20px;
      /*padding: 20px;*/
      color: #777;
      margin-top: 15px;
    }
  &#x60;]
})
export class BoxComponent {
  /**
   * if apply pad or not
   */
  @Input() padding &#x3D; true;
  /**
   * if logo should be displayed
  */
  @Input() showLogo &#x3D; false;
  @Input() alignCenter &#x3D; true;
  @Input() bg: &#x27;primary&#x27; | &#x27;highlights&#x27; | &#x27;warning&#x27; &#x3D; &#x27;primary&#x27;;
  @Input() size: &#x27;xs&#x27; | &#x27;sm&#x27; | &#x27;md&#x27; | &#x27;xl&#x27; | null &#x3D; &#x27;xs&#x27;;
  SIZES &#x3D; Sizes;
  BACKGROUNDS &#x3D; Backgrounds;
  TEXTS &#x3D; Texts;


}
</code></pre>
    </div>


    <div class="tab-pane fade " id="c-styleData">
            <pre class="line-numbers"><code class="language-scss">
    .box {
      /*background-color: #f1f1f1;*/
      border-radius: 20px;
      /*padding: 20px;*/
      color: #777;
      margin-top: 15px;
    }
  
</code></pre>
    </div>

    <div class="tab-pane fade " id="c-tree">
        <div id="tree-container"></div>
        <div class="tree-legend">
            <div class="title">
                <b>Legend</b>
            </div>
            <div>
                <div class="color htmlelement"></div><span>Html element</span>
            </div>
            <div>
                <div class="color component"></div><span>Component</span>
            </div>
            <div>
                <div class="color directive"></div><span>Html element with directive</span>
            </div>
        </div>
    </div>

    
</div>

<script src="../js/libs/vis.min.js"></script>
<script src="../js/libs/htmlparser.js"></script>
<script src="../js/libs/deep-iterator.js"></script>
<script>
        var COMPONENT_TEMPLATE = '<div><div  class="box"  style="display: flex; justify-content: center; align-items: center;"  [style.justify-content]="alignCenter ? \'center\' : null"  [style.height.px]="SIZES[size]"  [style.background-color]="BACKGROUNDS[bg]"  [style.color]="TEXTS[bg]"  [style.padding.px]="padding ? 30 : 0 ">  <img src="assets/logo.png" alt="" *ngIf="showLogo" style="padding: 1rem">  <ng-content></ng-content></div></div>'
    var COMPONENTS = [{'name': 'AccordionComponent', 'selector': 'app-accordion'},{'name': 'AccordionGroupComponent', 'selector': 'app-accordion-group'},{'name': 'AppComponent', 'selector': 'app-root'},{'name': 'AutoGridComponent', 'selector': 'app-auto-grid'},{'name': 'BoxComponent', 'selector': 'app-box'},{'name': 'CatalogComponent', 'selector': 'app-catalog'},{'name': 'CatalogHelpComponent', 'selector': 'app-catalog-help'},{'name': 'ChartjsComponent', 'selector': 'app-chartjs'},{'name': 'ColComponent', 'selector': 'app-col'},{'name': 'ContactsComponent', 'selector': 'app-contacts'},{'name': 'CounterComponent', 'selector': 'app-counter'},{'name': 'GooglemapComponent', 'selector': 'app-googlemap'},{'name': 'GridComponent', 'selector': 'app-grid'},{'name': 'HomeCarouselComponent', 'selector': 'app-home-carousel'},{'name': 'HomeComponent', 'selector': 'app-home'},{'name': 'HomeNewsComponent', 'selector': 'app-home-news'},{'name': 'LastMinuteComponent', 'selector': 'app-last-minute'},{'name': 'NavbarComponent', 'selector': 'app-navbar'},{'name': 'OffersComponent', 'selector': 'app-offers'},{'name': 'ProductsComponent', 'selector': 'app-products'},{'name': 'SeparatorComponent', 'selector': 'app-separator'},{'name': 'SuperAutoGridComponent', 'selector': 'app-super-auto-grid'}];
    var DIRECTIVES = [];
    var ACTUAL_COMPONENT = {'name': 'BoxComponent'};
</script>
<script src="../js/tree.js"></script>










                   




                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> result-matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No results matching "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
               <!-- END CONTENT -->
           </div>
       </div>

       <script>
            var COMPODOC_CURRENT_PAGE_DEPTH = 1;
            var COMPODOC_CURRENT_PAGE_CONTEXT = 'component';
            var COMPODOC_CURRENT_PAGE_URL = 'BoxComponent.html';
            var MAX_SEARCH_RESULTS = 15;
       </script>

       <script src="../js/libs/custom-elements.min.js"></script>
       <script src="../js/libs/lit-html.js"></script>
       <!-- Required to polyfill modern browsers as code is ES5 for IE... -->
       <script src="../js/libs/custom-elements-es5-adapter.js" charset="utf-8" defer></script>
       <script src="../js/menu-wc.js" defer></script>

       <script src="../js/libs/bootstrap-native.js"></script>

       <script src="../js/libs/es6-shim.min.js"></script>
       <script src="../js/libs/EventDispatcher.js"></script>
       <script src="../js/libs/promise.min.js"></script>
       <script src="../js/libs/zepto.min.js"></script>

       <script src="../js/compodoc.js"></script>

       <script src="../js/tabs.js"></script>
       <script src="../js/menu.js"></script>
       <script src="../js/libs/clipboard.min.js"></script>
       <script src="../js/libs/prism.js"></script>
       <script src="../js/sourceCode.js"></script>
          <script src="../js/search/search.js"></script>
          <script src="../js/search/lunr.min.js"></script>
          <script src="../js/search/search-lunr.js"></script>
          <script src="../js/search/search_index.js"></script>
       <script src="../js/lazy-load-graphs.js"></script>


    </body>
</html>
