<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>angular-demo-ui documentation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
	      <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="../" class="navbar-brand">angular-demo-ui documentation</a>
            <button type="button" class="btn btn-default btn-menu ion-ios-menu" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
                <div id="book-search-input" role="search"><input type="text" placeholder="Type to search"></div>            <compodoc-menu></compodoc-menu>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <compodoc-menu mode="normal"></compodoc-menu>
               </div>
               <!-- START CONTENT -->
               <div class="content component">
                   <div class="content-data">




<ol class="breadcrumb">
  <li>Components</li>
  <li>HomeComponent</li>
</ol>

<ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#info" role="tab" id="info-tab" data-toggle="tab" data-link="info">Info</a>
        </li>
        <li >
            <a href="#source" role="tab" id="source-tab" data-toggle="tab" data-link="source">Source</a>
        </li>
        <li >
            <a href="#tree" role="tab" id="tree-tab" data-toggle="tab" data-link="dom-tree">DOM Tree</a>
        </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="c-info"><p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>src/app/features/home/home.component.ts</code>
</p>





<section>
    <h3>Metadata</h3>
    <table class="table table-sm table-hover">
        <tbody>











            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>app-home</code></td>
            </tr>



            <tr>
                <td class="col-md-3">template</td>
                <td class="col-md-9"><pre class="line-numbers"><code class="language-html">&lt;app-accordion&gt;
  &lt;app-accordion-group [title]&#x3D;&quot;user.title&quot; *ngFor&#x3D;&quot;let user of users&quot;&gt;
    bla bla
  &lt;/app-accordion-group&gt;
  &lt;app-accordion-group title&#x3D;&quot;1&quot;&gt;
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad atque autem consequatur cumque, cupiditate doloribus dolorum esse et eveniet expedita facere, magni molestiae optio sit totam vel, voluptate voluptates.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad atque autem consequatur cumque, cupiditate doloribus dolorum esse et eveniet expedita facere, magni molestiae optio sit totam vel, voluptate voluptates.
  &lt;/app-accordion-group&gt;
  &lt;app-accordion-group title&#x3D;&quot;2&quot;&gt;
    bla bla
  &lt;/app-accordion-group&gt;
&lt;/app-accordion&gt;

&lt;div style&#x3D;&quot;width: 100%; max-width: 500px; margin: 0 auto&quot;&gt;
  &lt;app-googlemap [height]&#x3D;&quot;200&quot; [lat]&#x3D;&quot;lat&quot; [lng]&#x3D;&quot;lng&quot; [zoom]&#x3D;&quot;zoom&quot;&gt;&lt;/app-googlemap&gt;
  &lt;button (click)&#x3D;&quot;lat &#x3D; 30; lng &#x3D; 20&quot;&gt;1&lt;/button&gt;
  &lt;button (click)&#x3D;&quot;lat &#x3D; 40; lng &#x3D; 10&quot;&gt;2&lt;/button&gt;
  &lt;button (click)&#x3D;&quot;zoom &#x3D; zoom + 1&quot;&gt;+&lt;/button&gt;
  &lt;button (click)&#x3D;&quot;zoom &#x3D; zoom - 1&quot;&gt;-&lt;/button&gt;
  &lt;app-home-carousel&gt;&lt;/app-home-carousel&gt;

  &lt;app-separator [margin]&#x3D;&quot;30&quot; type&#x3D;&quot;dashed&quot; color&#x3D;&quot;red&quot;&gt;&lt;/app-separator&gt;
  &lt;app-home-news&gt;&lt;/app-home-news&gt;
  &lt;app-separator [margin]&#x3D;&quot;30&quot; type&#x3D;&quot;dashed&quot; color&#x3D;&quot;red&quot;&gt;&lt;/app-separator&gt;
  &lt;app-counter&gt;&lt;/app-counter&gt;
&lt;/div&gt;
</code></pre></td>
            </tr>









        </tbody>
    </table>
</section>

    <section>
    <h3 id="index">Index</h3>
    <table class="table table-sm table-bordered index-table">
        <tbody>
                <tr>
                    <td class="col-md-4">
                        <h6><b>Properties</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#lat">lat</a>
                            </li>
                            <li>
                                <a href="#lng">lng</a>
                            </li>
                            <li>
                                <a href="#users">users</a>
                            </li>
                            <li>
                                <a href="#zoom">zoom</a>
                            </li>
                        </ul>
                    </td>
                </tr>






        </tbody>
    </table>
</section>







    <section>
    
        <h3 id="inputs">
            Properties
        </h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="lat"></a>
                        <span class="name">
                            <b>
                            lat</b>
                            <a href="#lat"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/number" target="_blank" >number</a></code>

                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Default value : </i><code>43</code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="36" class="link-to-prism">src/app/features/home/home.component.ts:36</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="lng"></a>
                        <span class="name">
                            <b>
                            lng</b>
                            <a href="#lng"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/number" target="_blank" >number</a></code>

                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Default value : </i><code>13</code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="37" class="link-to-prism">src/app/features/home/home.component.ts:37</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="users"></a>
                        <span class="name">
                            <b>
                            users</b>
                            <a href="#users"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>    <code>[]</code>

                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Default value : </i><code>[
    { id: 1, title: &#x27;fabio&#x27;, opened: true },
    { id: 2, title: &#x27;mario&#x27;, opened: false }
  ]</code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="40" class="link-to-prism">src/app/features/home/home.component.ts:40</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="zoom"></a>
                        <span class="name">
                            <b>
                            zoom</b>
                            <a href="#zoom"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/number" target="_blank" >number</a></code>

                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Default value : </i><code>5</code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="38" class="link-to-prism">src/app/features/home/home.component.ts:38</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
</section>

</div>


    <div class="tab-pane fade  tab-source-code" id="c-source">
        <pre class="line-numbers compodoc-sourcecode"><code class="language-typescript">import { Component, OnInit, QueryList, ViewChildren } from &#x27;@angular/core&#x27;;
import { AccordionGroupComponent } from &#x27;../../shared/uikit/components/accordion-group.component&#x27;;

@Component({
  selector: &#x27;app-home&#x27;,
  template: &#x60;
    &lt;app-accordion&gt;
      &lt;app-accordion-group [title]&#x3D;&quot;user.title&quot; *ngFor&#x3D;&quot;let user of users&quot;&gt;
        bla bla
      &lt;/app-accordion-group&gt;
      &lt;app-accordion-group title&#x3D;&quot;1&quot;&gt;
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad atque autem consequatur cumque, cupiditate doloribus dolorum esse et eveniet expedita facere, magni molestiae optio sit totam vel, voluptate voluptates.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad atque autem consequatur cumque, cupiditate doloribus dolorum esse et eveniet expedita facere, magni molestiae optio sit totam vel, voluptate voluptates.
      &lt;/app-accordion-group&gt;
      &lt;app-accordion-group title&#x3D;&quot;2&quot;&gt;
        bla bla
      &lt;/app-accordion-group&gt;
    &lt;/app-accordion&gt;
    
    &lt;div style&#x3D;&quot;width: 100%; max-width: 500px; margin: 0 auto&quot;&gt;
      &lt;app-googlemap [height]&#x3D;&quot;200&quot; [lat]&#x3D;&quot;lat&quot; [lng]&#x3D;&quot;lng&quot; [zoom]&#x3D;&quot;zoom&quot;&gt;&lt;/app-googlemap&gt;
      &lt;button (click)&#x3D;&quot;lat &#x3D; 30; lng &#x3D; 20&quot;&gt;1&lt;/button&gt;
      &lt;button (click)&#x3D;&quot;lat &#x3D; 40; lng &#x3D; 10&quot;&gt;2&lt;/button&gt;
      &lt;button (click)&#x3D;&quot;zoom &#x3D; zoom + 1&quot;&gt;+&lt;/button&gt;
      &lt;button (click)&#x3D;&quot;zoom &#x3D; zoom - 1&quot;&gt;-&lt;/button&gt;
      &lt;app-home-carousel&gt;&lt;/app-home-carousel&gt;
      
      &lt;app-separator [margin]&#x3D;&quot;30&quot; type&#x3D;&quot;dashed&quot; color&#x3D;&quot;red&quot;&gt;&lt;/app-separator&gt;
      &lt;app-home-news&gt;&lt;/app-home-news&gt;
      &lt;app-separator [margin]&#x3D;&quot;30&quot; type&#x3D;&quot;dashed&quot; color&#x3D;&quot;red&quot;&gt;&lt;/app-separator&gt;
      &lt;app-counter&gt;&lt;/app-counter&gt;
    &lt;/div&gt;
  &#x60;,
})
export class HomeComponent {
  lat &#x3D; 43;
  lng &#x3D; 13;
  zoom &#x3D; 5;

  users &#x3D; [
    { id: 1, title: &#x27;fabio&#x27;, opened: true },
    { id: 2, title: &#x27;mario&#x27;, opened: false }
  ];


}
</code></pre>
    </div>



    <div class="tab-pane fade " id="c-tree">
        <div id="tree-container"></div>
        <div class="tree-legend">
            <div class="title">
                <b>Legend</b>
            </div>
            <div>
                <div class="color htmlelement"></div><span>Html element</span>
            </div>
            <div>
                <div class="color component"></div><span>Component</span>
            </div>
            <div>
                <div class="color directive"></div><span>Html element with directive</span>
            </div>
        </div>
    </div>

    
</div>

<script src="../js/libs/vis.min.js"></script>
<script src="../js/libs/htmlparser.js"></script>
<script src="../js/libs/deep-iterator.js"></script>
<script>
        var COMPONENT_TEMPLATE = '<div><app-accordion>  <app-accordion-group [title]="user.title" *ngFor="let user of users">    bla bla  </app-accordion-group>  <app-accordion-group title="1">    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad atque autem consequatur cumque, cupiditate doloribus dolorum esse et eveniet expedita facere, magni molestiae optio sit totam vel, voluptate voluptates.    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad atque autem consequatur cumque, cupiditate doloribus dolorum esse et eveniet expedita facere, magni molestiae optio sit totam vel, voluptate voluptates.  </app-accordion-group>  <app-accordion-group title="2">    bla bla  </app-accordion-group></app-accordion><div style="width: 100%; max-width: 500px; margin: 0 auto">  <app-googlemap [height]="200" [lat]="lat" [lng]="lng" [zoom]="zoom"></app-googlemap>  <button (click)="lat = 30; lng = 20">1</button>  <button (click)="lat = 40; lng = 10">2</button>  <button (click)="zoom = zoom + 1">+</button>  <button (click)="zoom = zoom - 1">-</button>  <app-home-carousel></app-home-carousel>  <app-separator [margin]="30" type="dashed" color="red"></app-separator>  <app-home-news></app-home-news>  <app-separator [margin]="30" type="dashed" color="red"></app-separator>  <app-counter></app-counter></div></div>'
    var COMPONENTS = [{'name': 'AccordionComponent', 'selector': 'app-accordion'},{'name': 'AccordionGroupComponent', 'selector': 'app-accordion-group'},{'name': 'AppComponent', 'selector': 'app-root'},{'name': 'AutoGridComponent', 'selector': 'app-auto-grid'},{'name': 'BoxComponent', 'selector': 'app-box'},{'name': 'CatalogComponent', 'selector': 'app-catalog'},{'name': 'CatalogHelpComponent', 'selector': 'app-catalog-help'},{'name': 'ChartjsComponent', 'selector': 'app-chartjs'},{'name': 'ColComponent', 'selector': 'app-col'},{'name': 'ContactsComponent', 'selector': 'app-contacts'},{'name': 'CounterComponent', 'selector': 'app-counter'},{'name': 'GooglemapComponent', 'selector': 'app-googlemap'},{'name': 'GridComponent', 'selector': 'app-grid'},{'name': 'HomeCarouselComponent', 'selector': 'app-home-carousel'},{'name': 'HomeComponent', 'selector': 'app-home'},{'name': 'HomeNewsComponent', 'selector': 'app-home-news'},{'name': 'LastMinuteComponent', 'selector': 'app-last-minute'},{'name': 'NavbarComponent', 'selector': 'app-navbar'},{'name': 'OffersComponent', 'selector': 'app-offers'},{'name': 'ProductsComponent', 'selector': 'app-products'},{'name': 'SeparatorComponent', 'selector': 'app-separator'},{'name': 'SuperAutoGridComponent', 'selector': 'app-super-auto-grid'}];
    var DIRECTIVES = [];
    var ACTUAL_COMPONENT = {'name': 'HomeComponent'};
</script>
<script src="../js/tree.js"></script>










                   




                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> result-matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No results matching "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
               <!-- END CONTENT -->
           </div>
       </div>

       <script>
            var COMPODOC_CURRENT_PAGE_DEPTH = 1;
            var COMPODOC_CURRENT_PAGE_CONTEXT = 'component';
            var COMPODOC_CURRENT_PAGE_URL = 'HomeComponent.html';
            var MAX_SEARCH_RESULTS = 15;
       </script>

       <script src="../js/libs/custom-elements.min.js"></script>
       <script src="../js/libs/lit-html.js"></script>
       <!-- Required to polyfill modern browsers as code is ES5 for IE... -->
       <script src="../js/libs/custom-elements-es5-adapter.js" charset="utf-8" defer></script>
       <script src="../js/menu-wc.js" defer></script>

       <script src="../js/libs/bootstrap-native.js"></script>

       <script src="../js/libs/es6-shim.min.js"></script>
       <script src="../js/libs/EventDispatcher.js"></script>
       <script src="../js/libs/promise.min.js"></script>
       <script src="../js/libs/zepto.min.js"></script>

       <script src="../js/compodoc.js"></script>

       <script src="../js/tabs.js"></script>
       <script src="../js/menu.js"></script>
       <script src="../js/libs/clipboard.min.js"></script>
       <script src="../js/libs/prism.js"></script>
       <script src="../js/sourceCode.js"></script>
          <script src="../js/search/search.js"></script>
          <script src="../js/search/lunr.min.js"></script>
          <script src="../js/search/search-lunr.js"></script>
          <script src="../js/search/search_index.js"></script>
       <script src="../js/lazy-load-graphs.js"></script>


    </body>
</html>
